.hover-link {
    min-width: 150px;
    max-width: 200px;
}


a {
    text-decoration: none;
    font-size: large;
    font-weight: lighter;
}

.hover-link a{
        color: #042F54
}

.hover-link:hover a {
    color: purple;
}

.underline-stroke {
    opacity: 0;
    width: 100px;
    text-align: left;
}

.hover-link:hover img {
    opacity: 100; 
    width: 100px;
    text-align: left;
}